bittensor==6.9.3
pydantic
transformers
torch
pandas
sentencepiece
protobuf
python-dotenv
supabase
tiktoken
prettytable
bitsandbytes
accelerate
flash-attn
threadpoolctl
wandb
loguru
scipy
numpy
typer
peft
